

body {
    padding: 0;
    margin: 0; 
    font-family: 'Bicubik', sans-serif;
    background-color: #5e646a;
}

#stub1 {
    width: 100vw;
    height: 100vh;
    background-image: url(../img/bcg1920-1.png);
    background-size: fixed;
    background-repeat: no-repeat;
    background-position: left top;
    overflow: hidden;
    animation: fade 3s linear;
}
@keyframes fade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.head-logo {
    padding-left: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    top: -5px;
    left: 0;
}

.head-logo .logo-container {
    display: inline-block;
    width: 250px;
    height: 80px;
    background-image: url(../img/MVACorp_logo230-80.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.head-logo .head-text {
    display: inline-block;
    font-size: 10px;
    text-transform: uppercase;
    color: #fff;
    width: 150px;
    text-align: left;
    font-family: 'Bicubik', sans-serif;
    padding:40px 0 0 10px;
    line-height: 18px
}

.foottext {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    vertical-align: middle;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 30px;
    font-size: 10px;
    text-transform: uppercase;
    color: #fff;
    z-index: 999;
}

.foottext .text-part {
    display: inline-block;
    text-align: right;
    padding:0 50px 0 10px;
    font-family: 'Bicubik', sans-serif;
}
.foottext .divider {
    height: 100%;
    width: 2px;
    background-color: #fff;
}
.foottext .copyright-part {
    padding: 0 10px 0 0;
    font-family: 'Bicubik', sans-serif;
}

.foottext .skype-part {
    font-family: 'Bicubik', sans-serif;
    padding: 0 20vw 0 30px;
    height: 20px;
    line-height: 20px;
    background-image: url(../img/Skype-icon.png);
    background-size: 4.2%;
    background-repeat: no-repeat;
}
.container-monitor {
    display: block;
    position: relative;
    height: 590px;
    top: 280px;
    left: 0;
    overflow: hidden;
    opacity: 1;
    /* animation:fadeMonitor 6s linear; */
}
/* @keyframes fadeMonitor {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    51% {
        opacity: 1;
    }
} */
#stub1 .monitor-block {
    position: relative;
    top: -360px;
    left:0;
    display: block;
    width: 100vw;
    height: 90vh;
    overflow: hidden;
    background-image: url(../img/pc1920-1.png);
    background-size: fixed;
    background-repeat: no-repeat;
    background-position: left top;
}
#stub1 .monitor {
    display: block;
    position: absolute;
    width: 680px;
    height: 1796px;
    background-image: url(../img/content1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    top: 290px;
    left:729px;
    animation:skroll 10s ease-in-out infinite;
    animation-delay: 0s;
    z-index: -9;

}
 @keyframes skroll {
    0% {
        top:290px;
    }
    10% {
        top: 290px;
    }
    40% {
        top: 50px;
    }
    60% {
        top: -200px;
    }
    90% {
        top:-1118px;
    }
    100% {
        top:290px;
    }
}
#stub1 button {
    display: block;
    font-size: 16px;
    text-transform: uppercase;
    padding: 30px 50px;
    background-color: #394048;
    border:none;
    color:#fff;
    font-family: 'Bicubik', sans-serif;
}
.order {
    position: absolute;
    top: 0;
    right: 0;
}

#stub1 .block-color {
    width: 545px;
    height: 460px;
    background-color: #f54657;
    position: absolute;
    right: 0;
    top: 152px;
    color:#fff;
    font-weight: 300;
    -webkit-box-shadow: -16px 0px 45px -24px rgba(0,0,0,0.75);
    -moz-box-shadow: -16px 0px 45px -24px rgba(0,0,0,0.75);
    box-shadow: -16px 0px 45px -24px rgba(0,0,0,0.75); 
    z-index: 99;
    animation: rightBoxAppearance 3s linear;
}
@keyframes rightBoxAppearance {
    0% {
        right: -545px;
        opacity: 0;
    }
    50% {
        right: -545px;
        opacity: 0;
    }
    95% {
        right: 10px;
        opacity: 1;
    }
    100%{
        right: 0;
        opacity: 1;
    }
}
#stub1 .block-color h2 {
    font-family: 'Bicubik', sans-serif;
    font-size: 18px;
    font-weight: 100;
    letter-spacing: 2px;
    margin-top: 70px;
    margin-left: 50px;
    text-transform: uppercase;
}
#stub1 .block-color h1 {
    font-family: 'Bicubik', sans-serif;
    margin-top: 65px;
    font-size: 48px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 300;
    margin-left: -5px;
    white-space: nowrap;
    width: 19ch;
    overflow: hidden;
    animation:typed 3s steps(19, end) backwards;
}
@keyframes typed {
    0% {
        width: 0ch;
    }
}
#stub1 .block-color h1 span {
    display: block;
    margin-left: 140px;
}
#stub1 .block-color button {
    margin: 107px 0 0 50px;
}