

body {
    padding: 0;
    margin: 0; 
    font-family: 'Bicubik', sans-serif;
    background-color: #5e646a;
    overflow: hidden;
}

#stub1 {
    width: 100vw;
    height: 100vh;

    background-image: url(../img/bcg1920-1.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: left top;
    animation: fade 3s linear;
}
@keyframes fade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.head-logo {
    padding-left: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    top: -5px;
    left: 0;
}

.head-logo .logo-container {
    display: inline-block;
    width: 250px;
    height: 80px;
    background-image: url(../img/MVACorp_logo230-80.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.head-logo .head-text {
    display: inline-block;
    font-size: 10px;
    text-transform: uppercase;
    color: #fff;
    width: 150px;
    text-align: left;
    font-family: 'Bicubik', sans-serif;
    padding:40px 0 0 10px;
    line-height: 18px
}

.foottext {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    vertical-align: middle;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 30px;
    font-size: 10px;
    text-transform: uppercase;
    color: #fff;
    z-index: 999;
}

.foottext .text-part {
    display: inline-block;
    text-align: right;
    padding:0 50px 0 10px;
    font-family: 'Bicubik', sans-serif;
}
.foottext .divider {
    height: 100%;
    width: 2px;
    background-color: #fff;
}
.foottext .copyright-part {
    padding: 0 10px 0 0;
    font-family: 'Bicubik', sans-serif;
}

.foottext .skype-part {
    font-family: 'Bicubik', sans-serif;
    padding: 0 20vw 0 30px;
    height: 20px;
    line-height: 20px;
    background-image: url(../img/Skype-icon.png);
    background-size: 4.2%;
    background-repeat: no-repeat;
}
.container-monitor {
    display: block;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0;
    overflow: hidden;
    background-image: url(../img/pc1920-1.png);
    background-size: fixed;
    background-repeat: no-repeat;
    background-position: left top;
    /* animation:fadeMonitor 6s linear; */
}
/* @keyframes fadeMonitor {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    51% {
        opacity: 1;
    }
} */
#stub1 .monitor-block {
    display: block;
    position: relative;
    top: 370px;
    left:730px;
    width: 680px;
    height: 410px;
    overflow: hidden;
}
#stub1 .monitor {
    display: block;
    position: absolute;
    width: 680px;
    height: 1796px;
    background-image: url(../img/content1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    top: 10px;
    left:0px;
    animation:skroll 10s ease-in-out infinite;
    animation-delay: 0s;
    z-index: -9;

}
 @keyframes skroll {
    0% {
        top:10px;
    }
    10% {
        top: 10px;
    }
    40% {
        top: -400px;
    }
    60% {
        top: -800px;
    }
    90% {
        top:-1400px;
    }
    100% {
        top:10px;
    }
}
#stub1 button {
    display: block;
    font-size: 16px;
    text-transform: uppercase;
    padding: 30px 50px;
    background-color: #394048;
    border:none;
    color:#fff;
    font-family: 'Bicubik', sans-serif;
}
.order {
    position: absolute;
    top: 0;
    right: 0;
}

.block-color {
    width: 545px;
    height: 460px;
    position: absolute;
    right: 0;
    top: 152px;
    color:#fff;
    font-weight: 300;
    -webkit-box-shadow: -16px 0px 45px -24px rgba(0,0,0,0.75);
    -moz-box-shadow: -16px 0px 45px -24px rgba(0,0,0,0.75);
    box-shadow: -16px 0px 45px -24px rgba(0,0,0,0.75); 
    z-index: 99;
    animation: rightBoxAppearance 3s linear;
}
#stub1 .block-color {
    background-color: #f54657;
    color:#fff;
}
@keyframes rightBoxAppearance {
    0% {
        right: -545px;
        opacity: 0;
    }
    50% {
        right: -545px;
        opacity: 0;
    }
    95% {
        right: 10px;
        opacity: 1;
    }
    100%{
        right: 0;
        opacity: 1;
    }
}
.block-color h2 {
    font-family: 'Bicubik', sans-serif;
    font-size: 18px;
    font-weight: 100;
    letter-spacing: 2px;
    margin-top: 70px;
    margin-left: 50px;
    text-transform: uppercase;
}
.block-color h1 {
    display: block;
    font-family: 'Bicubik', sans-serif;
    margin-top: 25px;
    font-size: 48px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 300;
    margin-left: -5px;
    white-space: nowrap;
    width: 19ch;
    overflow: hidden;
}
.block-color h1 p span {
    display: block;
    margin-left: 145px;
    margin-top: -5px;
}
.css-typing {
    width: 15em;
    white-space:nowrap;
    overflow:hidden;
    -webkit-animation: type 6s steps(50, end);
    animation: type 6s steps(50, end);
}
.css-typing1 {
    margin-top: -40px;
    width: 15em;
    white-space:nowrap;
    overflow:hidden;
    -webkit-animation: types 9s steps(50, end);
    animation: types 9s steps(50, end);
}
@keyframes type{
    0% { width: 0; }
    50% {width: 0;}
}
@-webkit-keyframes type{
    0% { width: 0; }
    50% {width: 0;}
}
@keyframes types{
    0% { width: 0; }
    40% {width: 0;}
}
@-webkit-keyframes types{
    0% { width: 0; }
    40% {width: 0;}
}
#stub1 .block-color button {
    position: absolute;
    bottom: -1px;
    left: 50px;
}
