

body {
    padding: 0;
    margin: 0; 
    background-color: #394048;
}

a, p, span {
    font-family: 'Bicubik', sans-serif;
    color:#fff;
}

a {
    text-decoration: none;
}

button {
    display: block;
    text-transform: uppercase;
    padding: 30px 50px;
    background-color: #394048;
    border:none;
    cursor: pointer;
}
.active {
    display: block;
    visibility: visible;
}
#section1 {
    display: none;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #777c84;
    position: relative;
    background-image:url(../img/bcg1-1920x1070.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: left top;
}
#section2 {
    display: none;
  
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #777c84;
    position: relative;
    background-image:url(../img/bcg2-1920x1070.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: left top;
}
#section3 {
    display: none;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #777c84;
    position: relative;
    background-image:url(../img/bcg3-1920x1070.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: left top;
}
#section4 {
    display: none;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #777c84;
    position: relative;
    background-image:url(../img/bcg4-1920x1070.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}
#section5 {
    display: none;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #777c84;
    position: relative;
    background-image:url(../img/bcg5-1920x1070.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}
.hover-block {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 99;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
#section1 .hover-block {
    background-image: url(../img/hover-bcg1-1920x1070.png);
}
#section3 .hover-block {
    background-image: url(../img/hover-bcg3-1920x1070.png);
}
#section4 .hover-block {
    background-image: url(../img/hover-bcg4-1920x1070.png);
    background-position: center;
}
#section5 .hover-block {
    background-image: url(../img/hover-bcg5-1920x1070.png);
    background-position: center;
}
.monitor {
    display: block;
    position: relative;
    width: 720px;
    height: 600px;
    background-image: url(../img/pc1920x1070.png);
    background-repeat: no-repeat;
    background-size: cover;
    top: 346px;
    left: 710px;
    z-index: 9;
    overflow: hidden;
    animation: bottomAppearance 1s ease-in-out;
}
@keyframes bottomAppearance {
    0% {
        top:1070px;
    }
    100% {
        top: 346px;
    }
}

.picture-box {
    display: block;
    position: relative;
    top: 26px;
    left: 17px;
    width: 686px;
    height: 383px;
    overflow: hidden;
    z-index: 6;   
}
.picture-box:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 686px;
    height: 1795px;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;   
    animation: scroll 6s ease-in-out infinite;
}
@keyframes scroll {
    0% {
        top:0;
    }
    20% {
        top: -100px;
    }
    40% {
        top: -400px;
    }
    70% {
        top:-600px;
    }
    95% {
        top:0;
    }
}
#section1 .picture-box:before {
    content: '';
    background-image: url(../img/content1-522x1378.png);
}
#section2 .picture-box:before {
    content: '';
    background-image: url(../img/content2.png);
}
#section3 .picture-box:before {
    content: '';
    background-image: url(../img/content3.png);
}
#section4 .picture-box:before {
    content: '';
    background-image: url(../img/content4.png);
}
#section5 .picture-box:before {
    content: '';
    background-image: url(../img/content5.png);
}
.logo-box {
    display: block;
    position: absolute;
    top: 0;
    left: 50px;
    height: 80px;
    z-index: 999;
}
.logo-box .logo-block {
    display: inline-block;
    width: 250px;
    height: 100%;
    background-image: url(../img/MVACorp_logo230-80.png);
    background-repeat: no-repeat;
}
.text-block {
    display: inline-block;
    height: 100%;
    width: 250px;
    font-size: 12px;
    letter-spacing: 2px;
    line-height: 19px;
    font-family: 'Bicubik', sans-serif;
    color: #fff;
    text-align: left;
    text-transform: uppercase;
}
.foot-text {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    position: absolute;
    bottom: 30px;
    right: 50px;
    height: 30px;
    width: 70%;
    z-index: 999;
    overflow: hidden;
}
.foot-text .foot-holder span {
    display: inline-block;
    font-size: 12px;
    color:#fff;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0 20px;
}
.divider {
    display: inline-block;
    width: 3px;
    height: 30px;
    background-color: #fff;
}
.skype-holder {
    display: inline-block;
    font-size: 12px;
    text-transform:uppercase;
    margin-right: 50px;
    letter-spacing: 2px;
}
.skype-holder i {
    font-size: 16px;
    color:#fff;
    display: inline-block;
} 
.skype-holder p {
    display: inline-block;
    margin-left: 10px;
}
.foot-holder {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}
.order {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 16px;
    letter-spacing: 2px;
    z-index: 999;
    cursor: pointer;
}

.block-color {
    width: 550px;
    height: 460px;
    position: absolute;
    right: 0;
    top: 140px;
    font-family: 'Bicubik', sans-serif;
    color:#fff;
    font-weight: 300;
    -webkit-box-shadow: -16px 0px 45px -24px rgba(0,0,0,0.75);
    -moz-box-shadow: -16px 0px 45px -24px rgba(0,0,0,0.75);
    box-shadow: -16px 0px 45px -24px rgba(0,0,0,0.75); 
    z-index: 99;
    animation: rightBoxAppearance 2s linear;
}

@keyframes rightBoxAppearance {
    0% {
        right: -555px;
    }
    50% {
        right: -555px;
    }
    95% {
        right: 30px;
    }
    100%{
        right: 0;
    }
}
.block-color p {
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 2px;
    margin-top: 50px;
    margin-left: 50px;
    text-transform: uppercase;
}
#section1 .block-color {
    background-color: #f54657;
}
#section2 .block-color {
    background-color: #b6c02c;
}
#section3 .block-color {
    background-color: #36d8c1;
}
#section4 .block-color {
    background-color: #d8ce6d;
}
#section5 .block-color {
    background-color: #b21623;
}
.css-typing {
    display: block;
    margin-top: 60px;
    margin-left: -5px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 48px;
    width: 15em;
    white-space:nowrap;
    overflow:hidden;
    -webkit-animation: type 3s steps(50, end);
    animation: type 3s steps(50, end);
}
.css-typing1 {
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 48px;
    display: block;
    margin-left: 125px;
    width: 15em;
    white-space:nowrap;
    overflow:hidden;
    -webkit-animation: types 4s steps(50, end);
    animation: types 4s steps(50, end);
}
#section5 .css-typing {
    margin-top: 45px;
    font-size: 72px;
}
#section5 .css-typing1 {
    font-size: 72px;
    margin-left: 190px;
}

@keyframes type{
    0% { width: 0; }
    70% {width: 0;}
}
@-webkit-keyframes type{
    0% { width: 0; }
    70% {width: 0;}
}
@keyframes types{
    0% { width: 0; }
    70% {width: 0;}
}
@-webkit-keyframes types{
    0% { width: 0; }
    70% {width: 0;}
}
.block-color button {
    position: absolute;
    bottom: -1px;
    left: 50px;
    font-size: 16px;
    letter-spacing: 2px;
    cursor: pointer;
    }

/*===== ПРЕЛОАДЕР =====*/

#page-preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background:#fff;
    z-index: 1000;
}

#page-preloader .spinner {
    background: url("../img/spinner.gif") no-repeat scroll 50% 50% rgba(0, 0, 0, 0);
    background-size: contain;
    top:50%;
    height: 300px;
    left: 50%;
    margin-left: -150px;
    margin-top: -150px;
    position: absolute;
    width: 300px;
}

/*==== модальное окно - попап ======*/

.overlay {
    background: #363b42;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1000;
    opacity: .8;
}
.visible {
    background: #fff;
    position: fixed;
    left: 50%;
    top: 40%;
    margin-top: -285px;
    overflow: hidden;
    z-index: 2000;
    width: 570px;
    height: 640px;
    padding: 20px 50px;
    margin-left: -170px;
    box-sizing: border-box;
}
.red-block {
    position: absolute;
    top: 45px;
    left: 0;
    width: 4px;
    height: 110px;
    background-color: #f54657;
}
#win .close-window {
    padding: 0;
    border: none;
    background-color: transparent;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 20px;
    top: 20px;

}
#win .close-window img {
    width: 100%;
}
#win button[type="button"]:hover {
    cursor: pointer;
}
#win h2 {
    font-family: 'Bicubik', sans-serif;
    font-size: 24px;
    text-align: left;
    color: #394048;
    text-transform: uppercase;
}
#win-desc {
    font-family:'Geometria', sans-serif;
    font-size: 16px;
    color: #394048;
    text-transform: uppercase;
    margin-top: 0px;
}

.popup-select-style {
    overflow: hidden; 
    height: 34px;
    background: url(../img/arrow-down.png) no-repeat #DDD;
    background-position: 95% 50%;
    width: 99%;
    margin: 40px auto;
    padding-right: 10px;
    box-sizing: border-box;
    cursor: pointer;
}
.popup-select-style select {
    border-radius: 0;
    background: transparent;
    height: 34px;
    padding: 5px;
    border: 0;
    font-size: 16px;
    font-family: 'Geometria', sans-serif;
    line-height: 1;
    letter-spacing: 1.5px;
    -webkit-appearance: none;
    width: 100%;

   }

.popup-select-style select:focus {
    outline: none;
    border: none;
}
#win-add {
    font-family: Bicubik, sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    color:#394048;
    letter-spacing: 1.5px;
    display: block;
    margin-bottom: 20px;
}
.win-add-input {
    display: block;
}
.win-add-checkbox {
    display: none;
}
.win-add-input>label {
    display: inline-block;
    font-family: 'Geometria', sans-serif;
    font-size: 16px;
}
input[type="checkbox"] + label span {
    display: inline-block;
    width: 30px;
    height: 30px;
    font-family: 'Geometria', sans-serif;
    vertical-align:middle;
    background:url(../img/checkbox-bcg.png) left top no-repeat;
    cursor: pointer;
    margin:15px 30px 15px 0;
}
input.win-add-checkbox:checked + label span {
    background:url(../img/checkbox-checked.png) top no-repeat;
}
#submit-button-form {
    border: none;
    position: absolute;
    bottom: 0;
    right: 20%;
    width: 60%;
    height: 60px;
    background-color: #f54657;
    font-family: Bicubik, sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color:#fff;
}
#submit-button-form:focus {
    outline: none;
}


@media all and (max-width: 1680px) {
    #section1 {
        background-size:1780px 1050px;
        background-position: right bottom;
    }
    #section2 {
        background-size:1780px 1070px;
        background-position: center;
    }
    #section3 {
        background-size:1780px 1070px;
        background-position: center;
    }
    #section4 {
        background-size:1780px 1070px;
        background-position: center;
    }
    #section5 {
        background-size:1780px 1070px;
        background-position: center;
    }
    #section1 .hover-block {
        background-size:1780px 1050px;
        background-position: right bottom;
    }
    #section4 .hover-block {
        background-size:1780px 1070px;
        background-position: center;
    }
    #section5 .hover-block {
        background-size:1780px 1070px;
        background-position: center;
    }
    .monitor {
        width: 750px;
        height: 700px;
        top: 305px;
        left: 580px;
        background-size: 100%;
    }
    @keyframes bottomAppearance {
        0% {
            top:1050px;
        }
        100% {
            top: 340px;
        }
    }
    .picture-box {
        top: 25px;
        left: 17px;
        width: 716px;
        height: 402px;  
    }
    .picture-box:before {
        width: 716px;
        height: 1478px;
    }
    .block-color {
        width: 550px;
        height: 460px;
        top: 152px;
        }
    @keyframes rightBoxAppearance {
        0% {
            right: -435px;
        }
        50% {
            right: -435px;
        }
        95% {
            right: 30px;
        }
        100%{
            right: 0;
        }
    }
    .foot-text {
        width: 80%;
    }
    .css-typing {
        font-size: 48px;
    }
    .css-typing1 {
        font-size: 48px;
    }
}

@media all and (max-width: 1440px){
    #section1 {
        background-size:1780px 1050px;
        background-position: right bottom;
    }
    #section2 {
        background-size:1780px 1070px;
        background-position: center;
    }
    #section3 {
        background-size:1780px 1070px;
        background-position: center;
    }
    #section4 {
        background-size:1780px 1070px;
        background-position: center;
    }
    #section5 {
        background-size:1780px 1070px;
        background-position: center;
    }
    #section1 .hover-block {
        background-size:1780px 1050px;
        background-position: right bottom;
    }
    #section4 .hover-block {
        background-size:1780px 1070px;
        background-position: center;
    }
    #section5 .hover-block {
        background-size:1780px 1070px;
        background-position: center;
    }
    .monitor {
        width: 630px;
        height: 700px;
        top: 240px;
        left: 375px;
        background-size: 100%;
    }
    .picture-box {
        top: 20px;
        left: 15px;
        width: 600px;
        height: 340px;  
    }
    .picture-box:before {
        width: 600px;
        height: 1478px;
    }
    @keyframes bottomAppearance {
        0% {
            top:905px;
        }
        100% {
            top: 240px;
        }
    }
    .block-color {
        width: 500px;
        height: 400px;
        top: 152px;
        }
    @keyframes rightBoxAppearance {
        0% {
            right: -505px;
        }
        50% {
            right: -505px;
        }
        95% {
            right: 30px;
        }
        100%{
            right: 0;
        }
    }
    .visible {
        left: 50%;
        top: 40%;
        margin-top: -235px;
        width: 570px;
        height: 640px;
        padding: 20px 50px;
        margin-left: -250px;
    }
}

@media all and (max-width: 1366px) {
    #section1 {
        background-size:1450px 800px;
        background-position: right bottom;
    }
    #section2 {
        background-size:1450px 800px;
        background-position: center;
    }
    #section3 {
        background-size:1450px 800px;
        background-position: center;
    }
    #section4 {
        background-size:1450px 800px;
        background-position: center;
    }
    #section5 {
        background-size:1450px 800px;
        background-position: center;
    }
    #section1 .hover-block {
        background-size:1450px 800px;
        background-position: right bottom;
    }
    #section4 .hover-block {
        background-size:1450px 800px;
        background-position: center;
    }
    #section5 .hover-block {
        background-size:1450px 800px;
        background-position: center;
    }
    .monitor {
        width: 550px;
        height: 600px;
        top: 200px;
        left: 440px;
        background-size: 100%;
    }
    .picture-box {
        top: 17px;
        left: 13px;
        width: 524px;
        height: 300px;  
    }
    .picture-box:before {
        width: 530px;
        height: 1478px;
    }
    @keyframes bottomAppearance {
        0% {
            top:905px;
        }
        100% {
            top: 240px;
        }
    }
    .block-color {
        width: 430px;
        height: 360px;
        top: 140px;
        }
    @keyframes rightBoxAppearance {
        0% {
            right: -435px;
        }
        50% {
            right: -435px;
        }
        95% {
            right: 30px;
        }
        100%{
            right: 0;
        }
    }
    .css-typing {
        font-size: 36px;
    }
    .css-typing1 {
        font-size: 36px;
    }
    .visible {
        left: 50%;
        top: 50%;
        margin-top: -300px;
        width: 450px;
        height: 550px;
        padding: 20px 50px;
        margin-left: -225px;
    }
    input[type="checkbox"] + label span {
        margin:10px 30px 10px 0;
    }
}


@media all and (max-width: 1280px){

    #section1 {
        background-size:1280px 720px;
    }
    #section1 .hover-block {
        background-size:1280px 720px;
    }
    .monitor {
        width: 500px;
        height: 440px;
        top: 227px;
        left: 415px;
        background-size: 100%;
    }
    @keyframes bottomAppearance {
        0% {
            top:720px;
        }
        100% {
            top: 227px;
        }
    }
    .picture-box {
        top: 15px;
        left: 13px;
        width: 474px;
        height: 270px;  
    }
    .picture-box:before {
        width: 474px;
        height: 1378px;
    }
    .block-color {
        width: 430px;
        height: 320px;
        top: 152px;
        }
    @keyframes rightBoxAppearance {
        0% {
            right: -435px;
        }
        50% {
            right: -435px;
        }
        95% {
            right: 30px;
        }
        100%{
            right: 0;
        }
    }
    .foot-text {
        width: 70%;
    }
    .css-typing {
        margin-top: 45px;
        font-size: 36px;
    }
    .css-typing1 {
        font-size: 36px;
    }
    #section5 .css-typing {
        margin-top: 45px;
        font-size: 48px;
    }
    #section5 .css-typing1 {
        font-size: 48px;
        margin-left: 110px;
    }
    .visible {
        left: 50%;
        top: 40%;
        margin-top: -275;
        width: 450px;
        height: 550px;
        padding: 20px 50px;
        margin-left: -225px;
    }
}
@media all and (max-width: 1024px) {
    #section1 {
        background-size:1230px 768px;
        background-position: bottom right;
    }
    #section1 .hover-block {
        background-size:1230px 768px;
        background-position: bottom right;
    }
    .monitor {
        width: 550px;
        height: 460px;
        top: 227px;
        left: 190px;
        background-size: 100%;
    }
    @keyframes bottomAppearance {
        0% {
            top:768px;
        }
        100% {
            top: 227px;
        }
    }
    .picture-box {
        top: 18px;
        left: 13px;
        width: 524px;
        height: 294px;  
    }
    .picture-box:before {
        width: 524px;
        height: 1378px;
    }
    .block-color {
        width: 330px;
        height: 280px;
        top: 152px;
        }
    @keyframes rightBoxAppearance {
        0% {
            right: -335px;
        }
        50% {
            right: -335px;
        }
        95% {
            right: 20px;
        }
        100%{
            right: 0;
        }
    }
    .foot-text {
        width: 100%;
        font-size: 12px;
    }

    .css-typing {
        margin-top: 45px;
        font-size: 24px;
    }
    .css-typing1 {
        font-size: 24px;
        margin-left: 70px;
    }
    #section5 .css-typing {
        margin-top: 45px;
        font-size: 34px;
    }
    #section5 .css-typing1 {
        font-size: 34px;
        margin-left: 70px;
    }
    .block-color button {
        left: 0px;
        width: 100.5%;
        padding: 30px 30px; 
    }
    .visible {
        left: 50%;
        top: 40%;
        margin-top: -210px;
        width: 450px;
        height: 550px;
        margin-left: -225px;
    }
}

@media all and (max-width: 1015px) {
    .foot-text {
        display: block;
        bottom: 30px;
        right: 0;
        height: 60px;
        width: 100%;
    }
    .foot-text span {
        display: inline-block;
        margin-right: 10px;
        line-height: 20px
    }
    .foot-text span:last-child {
        margin-right: 45px;
        margin-left: 10px;
    }
    .skype-holder p {
        display: inline-block;
        margin-left: 10px;
    }
    .skype-holder {
        display: block;
        float: right;
    }
    .foot-holder {
        display: flex;
        float: right;
    }
}

@media all and (max-width: 768px) {
    #section1 {
        background-image: url(../img/bcg1-768x1024.png);
        background-position: top left;
        background-size: 768px 1024px;
    }
    #section1 .hover-block {
        display: none;
    }
    #section2 {
        background:url(../img/bcg2-768x1024.png);
        background-position: top left;
    }
    #section3 {
        background:url(../img/bcg3-768x1024.png);
        background-position: center;
    }
    #section4 {
        background:url(../img/bcg4-768x1024.png);
        background-position: center;
    }
    #section4 .hover-block {
        background: url(../img/hover-bcg4-768x1024.png) center no-repeat;
    }
    #section5 {
        background-image: url(../img/bcg5-768x1024.png);
        background-position: center;
        background-size: 768px 1024px;
    }
    #section5 .hover-block {
        background-image: url(../img/hover-bcg5-768x1024.png);
        background-position: center;
        background-size: 768px 1024px;
    }
    .monitor {
        width: 560px;
        height: 500px;
        top: 150px;
        left: 165px;
        background-size: 100%;
    }
    @keyframes bottomAppearance {
        0% {
            left: 768px;
        }
        100% {
            left: 165px;
        }
    }
    .picture-box {
        top: 18px;
        left: 13px;
        width: 535px;
        height: 305px;  
    }
    .picture-box:before {
        width: 535px;
        height: 1378px;
    }
    .block-color {
        width: 370px;
        height: 280px;
        top: 535px;
        }
    @keyframes rightBoxAppearance {
        0% {
            right: -375px;
        }
        50% {
            right: -375px;
        }
        95% {
            right: 20px;
        }
        100%{
            right: 0;
        }
    }
    .css-typing {
        margin-top: 45px;
        font-size: 24px;
    }
    .css-typing1 {
        font-size: 24px;
        margin-left: 70px;
    }
    
    .block-color button {
        right: 0px;
        bottom: 0;
        left: 50px;
        width: 320px;
        padding: 30px 30px; 
    }
}



